#Notebooks
notebooks\StarterNotebook.ipynb

##DATA
data/raw
data/test.csv
data/dummy_satellite_data.csv

##Enviroments
.vscode/
# Python compiled files
__pycache__/
*.py[cod]
# Jupyter checkpoint files
.ipynb_checkpoints/